@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: linear-gradient(to right, rgb(231, 92, 246), #5892d9);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    padding: 2em;
}